<!DOCTYPE html>
<html lang="de">

<head>
    <title>SQL-Datenbanken</title>
    {% include 'css.html' %}
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles/two-tables.css') }}">-->
</head>

<body>
    <div class="compare">
        <div class="connection">
            <h3>Verbunden mit Datenbank {{ db_name_1 }} ({{ db_dialects[0] }}), Tabelle {{ table_name_1 }} und Datenbank
                {{
                db_name_2 }} ({{ db_dialects[1]}}), Tabelle {{ table_name_2 }}</h3>
            <a href="{{ url_for('disconnect_from_single_db') }}"><button
                    onclick="return confirm('Sind Sie sicher? Sie kehren dann zur Anmeldeseite zurück.')"> Verbindung
                    trennen </button></a>
        </div>
        <div class="links">
            <button id="backButton">Zurück</button>
            <div class="tab">
                <a href="{{ url_for('compare_two_dbs') }}" class="active">Tabellen vergleichen</a>
                <a href="{{ url_for('search_and_replace_entries') }}">Tabellen verbinden</a>
            </div>
        </div>
        <div class="selection">
            <form action="/compare" method="POST">
                <label for="target-table">Zieltabelle des Joins</label>
                <select name="target-table" required>
                    <option value="table_1" name="table_1">{{ db_name_1 + '.' + table_name_1 }}</option>
                    <option value="table_2" name="table_2">{{ db_name_2 + '.' + table_name_2 }}</option>
                </select>
                <label for="attribute-selection">Verbinden über:</label>
                <select name="attribute-selection" id="attribute-selection" required>
                    {% for key, val in comp_by_code|dictsort %}
                    {% if key == 1 %}
                    <optgroup label="vollständig kompatibel">
                        {% elif key == 2 %}
                    <optgroup label="ggf. uneindeutige Werte">
                        {% elif key == 3 %}
                    <optgroup label="ggf. Typkonversion nötig">
                        {% elif key == 4 %}
                    <optgroup label="Typkonversion nötig">
                        {% elif key == 5 %}
                    <optgroup label="ggf. Typkonversion nötig und ggf. uneindeutige Werte">
                        {% elif key == 6 %}
                    <optgroup label="Typkonversion nötig und ggf. uneindeutige Werte">
                        {% endif %}
                        {% for value in comp_by_code[key] %}
                        <option value="{{ value[0] }}, {{ value[1] }}" name="{{ value[0] }}, {{ value[1] }}">{{
                            db_name_1 + '.' + value[0]
                            }}, {{ db_name_2 +
                            '.' + value[1] }}
                        </option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
                <div class="cast-selection">
                    Typkonversion erzwingen:
                    <input type="radio" id="none" name="cast" value=0 checked required>
                    <label for="none">Keine</label>
                    <input type="radio" id="attribute1" name="cast" value=1 required>
                    <label for="attribute1">für {{ db_name_1 }}.{{ table_name_1 }}</label>
                    <input type="radio" id="attribute2" name="cast" value=2 required>
                    <label for="attribute2">für {{ db_name_2 }}.{{ table_name_2 }}</label>
                </div>

                <h4>Attribute, die für den Vergleich beibehalten werden sollen:</h4>
                Tabelle {{ table_name_1}}:
                <input type="checkbox" name="table1-all" id="table1-all" value="table1-all" checked>
                <label for="table1-all">Alle auswählen</label>
                {% for column in table_columns_1 %}
                <input type="checkbox" class="table1-box" name="columns-table1" id="{{ column }}" value="{{ column }}"
                    checked>
                <label for="{{ column }}">{{ column }}</label>
                {% endfor %}<br>
                Tabelle {{ table_name_2}}:
                <input type="checkbox" name="table2-all" id="table2-all" value="table2-all" checked>
                <label for="table1-all">Alle auswählen</label>
                {% for column in table_columns_2 %}
                <input type="checkbox" class="table2-box" name="columns-table2" id="{{ column }}" value="{{ column }}"
                    checked>
                <label for="{{ column }}">{{ column }}</label>
                {% endfor %}<br>
                <input type="submit" value="Tabellen vergleichen">

            </form>
        </div>
        <div id="joined-table"></div>
        <div id="tables">
            <div id="table1"></div>
            <div id="table2"></div>
        </div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
        function showTable(columnList, data, tableId) {
            new gridjs.Grid({
                columns: columnList,
                /*style: {
                    table: {
                        'display': 'flex'
                    },
                    footer: {
                        'display': 'flex',
                        'width': 'auto'
                    },
                    header: {
                        'width': 'auto'
                    }

                },*/
                data: data,
                search: false,
                sort: true,
                pagination: true,
                language: {
                    'search': {
                        'placeholder': '🔍 Suche...'
                    },
                    'pagination': {
                        'previous': 'Vorige',
                        'next': 'Nächste',
                        navigate: (page, pages) => `Seite ${page} von ${pages}`,
                        page: (page) => `Seite ${page}`,
                        'showing': 'Zeige',
                        of: 'von',
                        to: 'bis',
                        'results': () => 'Einträgen'
                    },
                    loading: 'Lade...',
                    noRecordsFound: 'Keine passenden Einträge gefunden',
                    error: 'Beim Einlesen der Daten ist ein Fehler aufgetreten.',
                }
            }).render(document.getElementById(tableId));
        }

        var columns1 = {{ table_columns_1 | tojson | safe }};
        var data1 = {{ data_1 | tojson | safe }};
        showTable(columns1, data1, 'table1');
        const tableHeadline = document.getElementById('joined-table');
        {% if data_2 == None %}
        const joinAttribute1 = {{ join_attribute_1 | tojson | safe }}
        const joinAttribute2 = {{ join_attribute_2 | tojson | safe }}
        tableHeadline.innerHTML = 'Über ' + joinAttribute1 + 'und ' + joinAttribute2 + 'verbundene Tabelle:'
        {% elif data_2 != None %}
        tableHeadline.innerHTML = ''
        var columns2 = {{ table_columns_2 | tojson | safe }};
        var data2 = {{ data_2 | tojson | safe }};
        showTable(columns2, data2, 'table2');
        {% endif %}

        function confirmBack() {
            var result = confirm('Sind Sie sicher, dass Sie zur vorigen Seite zurückkehren wollen?');
            if (result) {
                window.history.back();
            }
        }

        const backButton = document.getElementById('backButton')
        backButton.addEventListener('click', function () {
            confirmBack();
        });

        function unSelectAll(source, className) {
            var checkboxes = document.querySelectorAll(className);
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
        document.getElementById('table1-all').addEventListener('change', function () {
            unSelectAll(this, '.table1-box');
        });
        document.getElementById('table2-all').addEventListener('change', function () {
            unSelectAll(this, '.table2-box');
        });


        let checkboxes1 = document.querySelectorAll('.table1-box');
        let checkboxes2 = document.querySelectorAll('.table2-box');
        console.log(checkboxes1);

        for (var i = 0; i < checkboxes1.length; i++) {
            checkboxes1[i].addEventListener('change', function () {
                updateBoxToCheckAll('table1-box', 'table1-all');
            });
        }
        for (var j = 0; j < checkboxes2.length; j++) {
            checkboxes2[j].addEventListener('change', function () {
                updateBoxToCheckAll('table2-box', 'table2-all');
            });
        }

        function updateBoxToCheckAll(className, checkAllId) {
            const checkboxes = document.getElementsByClassName(className);
            console.log(checkboxes);
            let counter = 0;
            let boxToCheckAll = document.getElementById(checkAllId);

            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    counter++;
                }
            }
            console.log(counter)
            if (counter == checkboxes.length) {
                boxToCheckAll.checked = true;
            } else if (counter < checkboxes.length) {
                boxToCheckAll.checked = false;
            }
        }


    </script>
</body>

</html>