<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    var columnList = {{ table_columns | tojson | safe }};
    var data = {{ data | tojson | safe }}
    new gridjs.Grid({
        columns: columnList,
        data: data,
        search: false,
        sort: true,
        pagination: true,
        language: {
            'search': {
                'placeholder': '🔍 Suche...'
            },
            'pagination': {
                'previous': 'Vorige',
                'next': 'Nächste',
                navigate: (page, pages) => `Seite ${page} von ${pages}`,
                page: (page) => `Seite ${page}`,
                'showing': 'Zeige',
                of: 'von',
                to: 'bis',
                'results': () => 'Einträgen'
            },
            loading: 'Lade...',
            noRecordsFound: 'Keine passenden Einträge gefunden',
            error: 'Beim Einlesen der Daten ist ein Fehler aufgetreten.',
        }
    }).render(document.getElementById('table'));
</script>