{% extends "joined-preview-template.html" %}
{% block title %}
: {% if mode == 'compare'%}Join-Vorschau{% elif mode == 'merge'%}Übertragungsvorschau{% endif%}
{% endblock title %}
{% if mode == 'compare' %}{% block compare_active %} class="active" {% endblock compare_active %}
{% elif mode == 'merge' %}{% block merge_active %} class="active" {% endblock merge_active %}
{% endif %}
{% block table_title %}
{% if mode == 'compare '%}
<h4>Join der Tabellen {{ db_name_1 }}.{{ table_name_1 }} und {{ db_name_2 }}.{{ table_name_2 }}, verbunden über
    {{ table_name_1 }}.{{ join_attribute_1 }} und {{ table_name_2 }}.{{ join_attribute_2 }}</h4>
{% elif mode == 'merge' %}
<h4>Vorschau der Tabelle {{ db_name }}.{{ table_name }} mit dem neu eingefügten Attribut {{ new_column_name }}
</h4>
{% endif %}
{% endblock table_title %}
{% block statistics_or_form %}
{% if mode == 'compare '%}
{{ unmatched_rows[0] }} Tupel aus {{ db_name_1 }}.{{ table_name_1 }} und {{
unmatched_rows[1] }} Tupel aus {{ db_name_2 }}.{{ table_name_2 }} konnten keinem Tupel aus der
anderen Tabelle zugeordnet werden.
{% elif mode == 'merge' %}
<form action="/merge" method="POST">
    <input type="hidden" name="target-table-meta-data" value="{{ target_meta_data_no }}">
    <input type="submit" name="abort-merge" value="Abbrechen">
    <input type="submit" name="merge" value="Attribut übertragen">
</form>
{% endif %}
{% endblock statistics_or_form %}