<!DOCTYPE html>
<html lang="de">

<head>
    <title>SQL-Datenbanken: Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-Dateien für die Symbole als Labels vor den Eingabefeldern und den Rest des Formulars -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login-register.css') }}">
</head>

<body>
    <div class="login">
        <h1>Login</h1>
        <!-- Links zum Login- bzw. Registrierungsformular -->
        <div class="links">
            <!-- Als Tabs dargestellte Links zur Navigation zwischen Login- und Registrierungsformular -->
            <a href="{{ url_for('check_login') }}" class="active">Login</a>
            <a href="{{ url_for('register') }}">Registrierung</a>
        </div>
        <!-- Loginformular -->
        <form action="/login" method="POST">
            <label for="username">
                <i class="fa fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Benutzername" id="username" required>
            <label for="password">
                <i class="fa fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Passwort" id="password" required>
            <!--Darstellung von ggf. mit flash() angezeigten Meldungen-->
            {% include "message.html" %}
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>