<!DOCTYPE html>
<html lang="de">

<head>
    <title>SQL-Datenbanken</title>
    <link rel="stylesheet" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
    <script type="text/javascript">
        function confirmBack() {
            var result = confirm('Sind Sie sicher, dass Sie zur vorigen Seite zurückkehren wollen?');
            if (result) {
                window.history.back();
            }
        }
    </script>
</head>

<body>
    <div class="showtable">
        <h1>Tabelle {{ table_name }}</h1>
        <div class="tab">
            <button class="tablinks" onclick="searchOrReplace(event, 'searchbox')" id="defaultOpen">Suchen</button>
            <button class="tablinks" onclick="searchOrReplace(event, 'replacebox')">Suchen und Ersetzen</button>
        </div>
        <div class="searchbar">
            <form action="/search" method="POST">
                <ul>
                    <li>
                        <div id="searchbox">
                            <label for="column-to-search">Spalte auswählen:</label>
                            <select name="column-to-search" id="column-to-search" required>
                                <option value="all">Alle Spalten</option>
                                {% for column in table_columns %}
                                <option value="{{ column }}">{{ column }}</option>
                                {% endfor %}
                            </select>
                            <label for="search-string">Suchen:</label>
                            <input type="text" id="search-string" name="search-string"
                                placeholder="ggf. zu vereinheitlichende Werte durch Komma getrennt eingeben">
                        </div>
                    </li>
                    <li>
                        <div id="replacebox">
                            <label for="replacementstring">Ersetzen durch:</label>
                            <input type="text" id="replacementstring" name="replacementstring"
                                placeholder="Ersetzen durch ...">
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="submit" value="Absenden">
                        </div>
                    </li>
                </ul>
                </ul>
            </form>
        </div>

        <hr>
        <div id="table"></div>
        <div class="links">
            <a href="{{ url_for('select_tables') }}"><button onclick="{confirmBack()}"> Zurück </button></a>
        </div>
        <div data-list='{{ table_columns | tojson | safe }}' id="list-container"></div>
    </div>
    <script>
        // Anzeige der Felder je nachdem, ob die Funktion "Suchen" oder "Suchen und Ersetzen ausgewählt wurde"
        function searchOrReplace(evt, choice) {
            var i, tablinks;
            if (choice == "replacebox") {
                document.getElementById(choice).style.display = "block";
            }
            else {
                document.getElementById("replacebox").style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            evt.currentTarget.className += " active";
        }
        // "Anklicken" des Elements mit id="defaultOpen" durch JavaScript
        document.getElementById("defaultOpen").click();
    </script>
    {% include 'grid.html' %}

</body>

</html>