<!DOCTYPE html>
<html lang="de">

<head>
    <title>Registrierung</title>
    {% include 'css.html' %}

</head>

<body>
    <div class="register">
        <h1>Registrierung</h1>
        <div class="links">
            <a href="{{ url_for('check_login') }}">Login</a>
            <a href="{{ url_for('register') }}" class="active">Registrierung</a>
        </div>
        <form action="{{ '/register' }}" method="POST" autocomplete="off">
            <label for="username">
                <i class="fa fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Benutzername" id="username" minlength="2" required>
            <label for="password">
                <i class="fa fa-lock"></i>
            </label>
            <!---https://stackoverflow.com/questions/48345922/reference-password-validation-->
            <input type="password" name="password" placeholder="Passwort" id="password"
                pattern="^(?=\P{Ll}*\p{Ll})(?=\P{Lu}*\p{Lu})(?=\P{N}*\p{N})(?=[\p{L}\p{N}]*[^\p{L}\p{N}])[\s\S]{8,}$"
                required>
            <div class="msg">{{ message }}</div>
            <input type="submit" value="Registrieren">
        </form>
    </div>
</body>

</html>