<!-- Nutzen der Vorlage für die Vorschau für Operationen auf einer Tabelle -->
{% extends "one-table-preview-template.html" %}

<!-- Ergänzung des Titels -->
{% block title %}
: Ersetzungsvorschau
{% endblock title %}

<!-- Aktivierung des Links zur Ersetzungsfunktion in der Navigationsleiste -->
{% block replace_active %}
class="active"
{% endblock replace_active %}

{% block preview_content %}
<!-- Anzeige der Tabelle mit den Vorkommen des zu ersetzenden Strings -->
<h4>Bitte wählen Sie aus, welche Vorkommen von '{{ string_to_replace}}' durch '{{ replacement_string }}' ersetzt
    werden sollen:</h4>
<!-- Formular für die Auswahl der Stringvorkommen, die tatsächlich ersetzt werden sollen -->
<form action="{{ '/replace' }}" method="POST">
    <!--- Checkbox zur (De-)Aktivierung aller Checkboxen für die einzelnen Vorkommen des zu ersetzenden Wertes -->
    <input type="checkbox" id="all" value="all" checked>
    <label for="all">Alle auswählen</label>
    <!-- Vorschautabelle -->
    <div id="table">
        <table id="preview">
            <!-- Kopfzeile der Tabelle mit den Attributnamen -->
            <thead>
                <tr>
                    {% for column in table_columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {# Zähler für die Vorkommen des zu ersetzenden Wertes (übernommen von
                https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template)
                #}
                {% set occurrence_count = [] %}
                {# Anlegen einer Tabellenzeile für jeden Wert des Ersetzungs-Dictionarys #}
                {% for row in replacement_data_dict.values() %}
                <tr>
                    {# Zähler zur Ermittlung der Position betroffener Attribute #}
                    {% set attribute_count = [] %}
                    {# Für jede Eins in der Positionsliste ... #}
                    {% for index in row['positions'] %}
                    {% if index == 1 %}
                    {# ... wird der Vorkommenszähler um eins erhöht ... #}
                    {% set __ = occurrence_count.append(1) %}
                    {# ... und es wird eine Tabellenzelle mit einer Checkbox angelegt, deren id dem Vorkommenszählerwert
                    entspricht.
                    Der Wert vor der Erstzung wird in das Attribut 'data-old' geschrieben, der neue Wert steht in
                    'data-new'. Dadurch ist es
                    möglich, bei An- bzw. Abwahl der Checkbox mit JavaScript zwischen der Anzeige des neuen und des
                    alten Wertes zu wechseln. #}
                    <td>
                        <input type="checkbox" class="selection" name="selection" checked
                            data-old="{{ row['old'][attribute_count | length] }}"
                            data-new="{{ row['new'][attribute_count | length] }}" id="{{ occurrence_count | length }}"
                            value="{{ occurrence_count | length }}">
                        {# Der Wert wird in Form eines Labels für die Checkbox eingetragen. Anfangs steht hier der neue
                        Wert. #}
                        <label for="{{ occurrence_count | length }}"
                            id="{{ 'label' + (occurrence_count | length | string) }}" class="highlight">{{
                            row['new'][attribute_count | length] }}
                        </label>
                    </td>
                    {# Für alle nicht betroffenen Attribute wird der alte Wert als einfacher Text ohne Checkbox in die
                    Tabellenzelle eingetragen. #}
                    {% else %}
                    <td>{{ row['old'][attribute_count | length] }}</td>
                    {% endif %}
                    {# Hochsetzen des Attributszählers des aktuellen Datenbanktupels #}
                    {% set __ = attribute_count.append(1) %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Statistik für die tatsächlich veränderten Vorkommen des gesuchten Wertes -->
    <span class="counter">{{ occurrence_count | length }} </span> von {{ occurrence_count | length }}
    betroffenen Einträgen werden verändert.

    <!-- Buttons für den Abbruch bzw. das Ausführen der Operation -->
    <div class="groups">
        <button id="backButton">Abbrechen</button>
        <input type="submit" value="Änderungen durchführen">
    </div>

    <!-- Daten, die für den Nutzer irrelevant sind, aber für die Ausführung der Ersetzung auf Basis dieser Vorschau benötigt werden -->
    <input type="hidden" name="string-to-replace" value="{{ string_to_replace }}">
    <input type="hidden" name="replacement-string" value="{{ replacement_string }}">
    <input type="hidden" name="affected-attributes" value="{{ affected_attributes }}">
</form>
{% endblock preview_content %}

<!-- Erweiterung des JavaScript-Blocks der Vorlage -->
{% block more_js %}
<script>
    // Funktion für die Umstellung zwischen neuem und altem Wert bei Änderung des Checkboxzustands
    function switchData(affectedCheckbox, caller) {
        // Beziehen des Label-Elements, in dem der Wert dargestellt wird
        const labelId = 'label' + affectedCheckbox.value;
        let labelElement = document.getElementById(labelId);
        // Checkbox zur An- bzw. Abwahl aller Checkboxen ('all'-Checkbox)
        let boxToCheckAll = document.getElementById('all');
        // Wenn die aktuelle Checkbox angewählt wird, ...
        if (affectedCheckbox.checked == true) {
            // ... wird ihr Labeltext auf den Wert gesetzt, der in ihrem Attribut 'data-new' steht ... 
            labelElement.innerText = affectedCheckbox.dataset.new;
            // ... und grün dargestellt.
            labelElement.classList.add('highlight');
        } else {
            // Bei Abwahl hingegen wird der Labeltext auf den alten Wert (Attribut 'data-old') gesetzt ...
            labelElement.innerText = affectedCheckbox.dataset.old;
            // ... und schwarz gefärbt.
            labelElement.classList.remove('highlight');
            // Außerdem ist nun mindestens eine Checkbox abgewählt, sodass die 'all'-Checkbox abgewählt wird.
            boxToCheckAll.checked = false;
        }
        /* Wenn die aufrufende Checkbox die von der Änderung betroffene Checkbox ist (d. h. die Funktion nicht von der 'all'-Checkbox aufgerufen wurde), muss der Zähler für die ausgewählten Änderungen noch angepasst werden. */
        if (caller == affectedCheckbox) {
            var allBoxes = document.querySelectorAll('input[type="checkbox"]');
            var counter = 0;
            // Hierfür werden alle Checkboxen gezählt, die nicht der 'all'-Checkbox entsprechen und angewählt sind.
            for (var i = 0; i < allBoxes.length; i++) {
                if (allBoxes[i] != boxToCheckAll && allBoxes[i].checked == true) {
                    counter++;
                }
            }
            console.log(counter);
            // Wenn alle Checkboxen außer der 'all'-Checkbox angewählt wurden, ...
            if (counter == allBoxes.length - 1) {
                // ... wird die letztgenannte auch angewählt.
                boxToCheckAll.checked = true;
            }
            // Zudem wird der finale Wert des Zählers in der Statistik unter der Tabelle angezeigt.
            let selectedEntries = document.querySelector('.counter');
            selectedEntries.innerHTML = counter;
        }

    }
    /* An- bzw. Abwahl aller Attribut-Checkboxen bei Betätigung der 'all'-Checkbox 
    Quelle: https://stackoverflow.com/questions/386281/how-to-implement-a-select-all-checkbox-in-html (ohne switchData)*/
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var counter = 0;
        // Der Aufbau ist analog zur vorigen Funktion, ...
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source) {
                checkboxes[i].checked = source.checked;
                // ... mit der Ausnahme, dass für jede angewählte Attributs-Checkbox der angezeigte Wert mit switchData aktualisiert wird.
                switchData(checkboxes[i], source);
            }
        }
        let selectedEntries = document.querySelector('.counter');
        // Wenn die 'all'-Checkbox abgewählt ist, wird der Zähler für die ausgewählten Einträge auf 0 gesetzt.
        if (source.checked == false) {
            selectedEntries.innerHTML = 0;
        } else {
            // Ist sie abgewählt, wird der Zähler auf die Anzahl der Checkboxen für die einzelnen Vorkommen gesetzt (-1, damit die 'all'-Checkbox
            // nicht eingerechnet wird, die auch zur Liste 'checkboxes' gehört.)
            selectedEntries.innerHTML = checkboxes.length - 1;
        }
    }

    // Hinzufügen des EventListeners für den Wechsel der angezeigten Daten bei An- bzw. Abwahl der Attributs-Checkboxen
    let attributeCheckboxes = document.getElementsByClassName('selection');
    console.log(attributeCheckboxes);
    for (var i = 0; i < attributeCheckboxes.length; i++) {
        attributeCheckboxes[i].addEventListener('change', function () {
            switchData(this, this);
        });
    };

    // Hinzufügen des EventListeners für die An- bzw. Abwahl aller Checkboxen bei Betätigung der 'all'-Checkbox
    let boxToCheckAll = document.getElementById('all');
    boxToCheckAll.addEventListener('change', function () {
        toggle(this);
    })
</script>
{% endblock more_js %}