<!DOCTYPE html>
<html lang="de">

<head>
    <title>SQL-Datenbanken: Suchen und Ersetzen</title>
    {% include 'css.html' %}

</head>

<body>
    <input type="hidden" id="database_name" value="{{ db_name }}">

    <div class="replace">
        <div class="connection">
            <h3>Verbunden mit Datenbank {{ db_name }}, Tabelle {{ table_name }} </h3>
            <a href="{{ url_for('disconnect_from_single_db') }}"><button
                    onclick="return confirm('Sind Sie sicher? Sie kehren dann zur Anmeldeseite zurück.')"> Verbindung
                    trennen </button></a>
        </div>

        <div class="links">
            <a href="{{ url_for('search_entries') }}">Suchen</a>
            <a href="{{ url_for('search_and_replace_entries') }}" class="active">Suchen und Ersetzen</a>
            <a href="{{ url_for('unify_db_entries') }}">Vereinheitlichen</a>
        </div>
        <form id="replaceparams" action="{{ '/replace-preview' }}" method="POST">
            <label for="columntosearch">Spalte auswählen:</label>
            <select name="columntosearch" id="columntosearch" required>
                <option value="all">Alle Spalten</option>
                {% for column in table_columns %}
                <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <label for="searchstring">Suchen:</label>
            <input type="text" id="searchstring" name="searchstring" minlength="2">
            <label for="replacement">Ersetzen durch:</label>
            <input type="text" id="replacement" name="replacement">
            <input type="hidden" id="engineno" name="engineno" value="{{ engine_no }}">
            <input type="hidden" id="tablename" name="tablename" value="{{ table_name }}">
            <input type="submit" id="preview" onclick="return isEmpty();" value="Vorschau">

        </form>
        <div id="table"></div>

        <div class="msg">{{ message }}</div>

    </div>
    {% include 'grid.html' %}

    <script>

        function isEmpty() {
            if (document.forms['replaceparams'].replacement.value === "") {
                return confirm("Sind Sie sicher, dass Sie den gesuchten Wert löschen wollen?");
            } else if (document.forms['replaceparams'].replacement.value === document.forms['replaceparams'].searchstring.value) {
                alert("Der zu ersetzende und der neue Wert sind gleich. Daher werden keine Änderungen vorgenommen.")
                return false
            }
            return true;
        }

    </script>
</body>

</html>