{% block title %}: {% if mode == 'compare' %}Vergleichen {% elif mode == 'merge' %}Attribut übertragen{% endif %}
{% endblock title %}

{% if mode == 'compare'%} {% block compare_active %}
class="active"
{% endblock compare_active %}
{% elif mode == 'merge'%} {% block merge_active%}
class="active"
{% endblock merge_active%}
{% endif %}

{% block form_action %}
{% if mode == 'compare'%} action="/compare"
{% elif mode == 'merge'%} action="/merge-preview"
{% endif %}
{% endblock form_action %}

{% block additional_params %}
{% if mode == 'compare' %}
<label for="full-outer-join">Full Outer Join durchführen:</label>
<input type="checkbox" id="full-outer-join" name="full-outer-join">
<h4>Attribute, die für den Vergleich beibehalten werden sollen:</h4>
Tabelle {{ table_name_1}}:
<input type="checkbox" name="table1-all" id="table1-all" value="table1-all" checked>
<label for="table1-all">Alle auswählen</label>
{% for column in table_columns_1 %}
<input type="checkbox" class="table1-box" name="columns-table1" id="{{ column }}" value="{{ column }}" checked>
<label for="{{ column }}">{{ column }}</label>
{% endfor %}<br>
Tabelle {{ table_name_2}}:
<input type="checkbox" name="table2-all" id="table2-all" value="table2-all" checked>
<label for="table1-all">Alle auswählen</label>
{% for column in table_columns_2 %}
<input type="checkbox" class="table2-box" name="columns-table2" id="{{ column }}" value="{{ column }}" checked>
<label for="{{ column }}">{{ column }}</label>
{% endfor %}<br>
<input type="submit" value="Tabellen vergleichen">

{% elif mode == 'merge' %}
<label for="target-column">Mit den neuen Werten auszufüllende Spalte der Zieltabelle
    (optional):</label>
<select id="target-column" name="target-column">
    <option value="" name="Bitte auswählen:"></option>
</select>
<label for="source-column-to-insert">Zu übertragendes Attribut:</label>
<select name="source-column-to-insert" id="source-column-to-insert" required></select>
<label for="new-attribute-name">Neuer Name für das übertragene Attribut (nur, wenn keine Zielspalte
    ausgewählt wurde):</label>
<input type="text" id="new-attribute-name" name="new-attribute-name" pattern="^[-\w]{4,}$">
<input type="submit" value="Vorschau">
{% endif %}
{% endblock additional_params %}

{% block more_js %}
<script>
    {% if mode == 'compare' %}

    document.getElementById('table1-all').addEventListener('change', function () {
        unSelectAll(this, '.table1-box');
    });
    document.getElementById('table2-all').addEventListener('change', function () {
        unSelectAll(this, '.table2-box');
    });


    let checkboxes1 = document.querySelectorAll('.table1-box');
    let checkboxes2 = document.querySelectorAll('.table2-box');
    console.log(checkboxes1);

    for (var i = 0; i < checkboxes1.length; i++) {
        checkboxes1[i].addEventListener('change', function () {
            updateBoxToCheckAll('table1-box', 'table1-all');
        });
    }
    for (var j = 0; j < checkboxes2.length; j++) {
        checkboxes2[j].addEventListener('change', function () {
            updateBoxToCheckAll('table2-box', 'table2-all');
        });
    }

    function unSelectAll(source, className) {
        var checkboxes = document.querySelectorAll(className);
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function updateBoxToCheckAll(className, checkAllId) {
        const checkboxes = document.getElementsByClassName(className);
        console.log(checkboxes);
        let counter = 0;
        let boxToCheckAll = document.getElementById(checkAllId);

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                counter++;
            }
        }
        console.log(counter)
        if (counter == checkboxes.length) {
            boxToCheckAll.checked = true;
        } else if (counter < checkboxes.length) {
            boxToCheckAll.checked = false;
        }
    }

    {% elif mode == 'merge' %}
    const selectedTargetTable = document.getElementById('target-table');
    const columnsTable1 = {{ table_columns_1 | tojson | safe }};
    const columnsTable2 = {{ table_columns_2 | tojson | safe }};

    const columnsWithoutPKs1 = {{ no_pk_columns_1 | tojson | safe }};
    const columnsWithoutPKs2 = {{ no_pk_columns_2 | tojson | safe }};
    fillAttributeDropDowns('source-column-to-insert', 'target-column', columnsTable1, columnsTable2, columnsWithoutPKs1, columnsWithoutPKs2);
    selectedTargetTable.addEventListener('change', function () {
        fillAttributeDropDowns('source-column-to-insert', 'target-column', columnsTable1, columnsTable2, columnsWithoutPKs1, columnsWithoutPKs2);
    });

    function fillAttributeDropDowns(sourceSelectItemId, targetSelectItemId, options1, options2, noPKs1, noPKs2) {
        let sourceSelect = document.getElementById(sourceSelectItemId);
        let targetSelect = document.getElementById(targetSelectItemId);
        const targetTable = document.getElementById('target-table').value;

        let targetColumnsToChooseFrom;
        let sourceColumnsToChooseFrom;
        console.log(targetTable)
        if (targetTable == 'table_1') {
            sourceColumnsToChooseFrom = options2;
            targetColumnsToChooseFrom = noPKs1;

        } else if (targetTable == 'table_2') {
            sourceColumnsToChooseFrom = options1;
            targetColumnsToChooseFrom = noPKs2;
        } else {
            return false;
        }
        removeAllExceptFirst(targetSelect);
        appendOptions(targetSelect, targetColumnsToChooseFrom)
        removeAll(sourceSelect);
        appendOptions(sourceSelect, sourceColumnsToChooseFrom)
        return true;
    }
    /*https://www.javascripttutorial.net/javascript-dom/javascript-add-remove-options/*/
    function removeAll(selectBox) {
        while (selectBox.options.length > 0) {
            selectBox.remove(0);
        }
    }

    function removeAllExceptFirst(selectBox) {
        while (selectBox.options.length > 1) {
            selectBox.remove(1);
        }
    }


    /* https://stackoverflow.com/questions/6601028/how-to-populate-the-options-of-a-select-element-in-javascript James Long */
    function appendOptions(selectItem, optionsToChooseFrom) {
        for (var i = 0; i < optionsToChooseFrom.length; i++) {
            let option = document.createElement('option');
            option.setAttribute('value', optionsToChooseFrom[i]);
            option.appendChild(document.createTextNode(optionsToChooseFrom[i]));
            selectItem.appendChild(option);
        }
    }

    {% endif %}
</script>
{% endblock more_js %}