{% extends "one-table-template.html" %}
{% block title %}: Vereinheitlichen{% endblock %}
{% block unify_active %} class="active" {% endblock unify_active %}

{% block one_table_form %}
<form action="{{ '/unify-selection' }}" method="POST">
    <h4>Bitte wählen Sie die Spalte aus, deren Einträge vereinheitlicht werden sollen. Primärschlüssel können
        hiermit nicht bearbeitet werden.</h4>
    <label for="column-to-unify">Spalte auswählen:</label>
    <select name="column-to-unify" id="column-to-unify" required>
        {% for column in table_columns %}
        {% if column not in primary_keys %}
        <option value="{{ column }}">{{ column }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <input type="hidden" id="engine-no" name="engine-no" value="{{ engine_no }}">
    <input type="hidden" id="table-name" name="table-name" value="{{ table_name }}">
    <input type="submit" value="Einträge überprüfen">
</form>
{% endblock one_table_form %}