{% extends "one-table-preview-template.html" %}
{% block title %}
: Vorschau für Vereinheitlichen
{% endblock title %}
{% block unify_active %} _class="active" {% endblock unify_active %}
{% block preview_content %}
<h4>Vorschau der Änderungen des Attributs {{ column_to_unify }}</h4>
<form action="{{ '/unify' }}" method="POST">
    <div id="table">
        <table id="preview">
            <thead>
                <tr>
                    {% for column in table_columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {# Zähler stammt von
                https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template
                #}
                {% set row_count = [] %}
                {% for row in data %}
                {% set __ = row_count.append(1) %}
                {% set attribute_count = [] %}
                {% if row_count | length in affected_rows %}
                <tr>
                    {% for item in row %}
                    {% set __ = attribute_count.append(1) %}
                    {% if attribute_count | length == index_of_affected_attribute %}
                    <td><span style="color: green;">{{ new_value }} </span>(alt: {{item}})</td>
                    {% else %}
                    <td>{{ item }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <input type="hidden" id="column-to-unify" name="column-to-unify" value="{{ column_to_unify }}">
    <input type="hidden" id="old-values" name="old-values" value="{{ old_values }}">
    <input type="hidden" id="new-value" name="new-value" value="{{ new_value }}">
    {{ affected_rows | length }} von {{ row_total }} Einträgen werden verändert.
    <input type="submit" value="Änderungen durchführen">
</form>
{% endblock preview_content %}