<!DOCTYPE html>
<html lang="de">

<head>
    <title>Vereinheitlichen</title>
    {% include 'css.html' %}
    <script type="text/javascript">
        function confirmBack() {
            var result = confirm('Sind Sie sicher, dass Sie zur vorigen Seite zurückkehren wollen?');
            if (result) {
                window.history.back();
            }
        }
    </script>
</head>

<body>

    <div class="unify">
        <div class="connection">
            <h3>Verbunden mit Datenbank {{ db_name }}, Tabelle {{ table_name }} </h3>
            <a href="{{ url_for('disconnect_from_single_db') }}"><button
                    onclick="return confirm('Sind Sie sicher? Sie kehren dann zur Anmeldeseite zurück.')"> Verbindung
                    trennen </button></a>
        </div>
        <button></button>

        <div class="links">
            <a href="{{ url_for('search_entries') }}">Suchen</a>
            <a href="{{ url_for('search_and_replace_entries') }}">Suchen und Ersetzen</a>
            <a href="{{ url_for('unify_db_entries') }}" class="active">Vereinheitlichen</a>
        </div>
        <h4>Alle Werte des Attributs {{ column_to_unify }}</h4>
        Bitte wählen Sie die Werte aus, die ersetzt werden sollen.
        <form action="{{ '/unify-preview' }}" method="POST">
            <div id="table">
                <table id="selection">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ column_to_unify }}</th>
                            <th>Anzahl Einträge</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set count = [] %}
                        {% for row in data %}
                        {% set __ = count.append(1) %}
                        <tr>
                            {% for item in row %}
                            {% if item == row[0] %}
                            <td><input type="checkbox" name="{{ count|length }}" value="{{ item }}"></td>
                            <td>{{ item }}</td>
                            {% else %}
                            <td>{{ item }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="columntounify" name="columntounify" value="{{ column_to_unify }}">
            <input type="hidden" id="tablename" name="tablename" value="{{ table_name }}">
            <label for="replacement">Ausgewählte Werte ersetzen durch:</label>
            <input type="text" id="replacement" name="replacement" required>
            <input type="submit" value="Vorschau">
        </form>
        <div class="msg">{{ message }}</div>
        <button onclick="confirmBack()">Zurück</button>
    </div>
</body>

</html>