<!DOCTYPE html>
<html lang="de">

<head>
    <title>Vereinheitlichen</title>
    {% include 'css.html' %}
    <script type="text/javascript">
        function confirmBack() {
            var result = confirm('Sind Sie sicher, dass Sie zur vorigen Seite zurückkehren wollen?');
            if (result) {
                window.history.back();
            }
        }
    </script>
</head>

<body>

    <div class="unify">
        <div class="connection">
            <h3>Verbunden mit Datenbank {{ db_name }}, Tabelle {{ table_name }} </h3>
            <a href="{{ url_for('disconnect_from_single_db') }}"><button
                    onclick="return confirm('Sind Sie sicher? Sie kehren dann zur Anmeldeseite zurück.')"> Verbindung
                    trennen </button></a>
        </div>

        <button id="backButton">Zurück</button>
        <div class="links">
            <a href="{{ url_for('search_entries') }}">Suchen</a>
            <a href="{{ url_for('search_and_replace_entries') }}">Suchen und Ersetzen</a>
            <a href="{{ url_for('unify_db_entries') }}" class="active">Vereinheitlichen</a>
        </div>
        <h4>Vorschau der Änderungen des Attributs {{ column_to_unify }}</h4>
        <form action="{{ '/unify' }}" method="POST">
            <div id="table">
                <table id="preview">
                    <thead>
                        <tr>
                            {% for column in table_columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {# Counter taken from
                    https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template
                    #}
                    <tbody>
                        {% set row_count = [] %}
                        {% for row in data %}
                        {% set __ = row_count.append(1) %}
                        {% set attribute_count = [] %}
                        {% if row_count | length in affected_rows %}
                        <tr>
                            {% for item in row %}
                            {% set __ = attribute_count.append(1) %}
                            {% if attribute_count | length == index_of_affected_attribute %}
                            <td><span style="color: green;">{{ new_value }} </span>(alt: {{item}})</td>
                            {% else %}
                            <td>{{ item }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="column-to-unify" name="column-to-unify" value="{{ column_to_unify }}">
            <input type="hidden" id="old-values" name="old-values" value="{{ old_values }}">
            <input type="hidden" id="new-value" name="new-value" value="{{ new_value }}">
            {{ affected_rows | length }} von {{ row_total }} Einträgen werden verändert.
            <input type="submit" value="Änderungen durchführen">
        </form>
    </div>

    <script src="{{url_for('static', filename='confirmBack.js')}}"></script>
    <script>
        const backButton = document.getElementById('backButton')
        backButton.addEventListener('click', function () {
            confirmBack();
        });
    </script>
</body>

</html>