/* Mit Anpassungen übernommen von https://dev.to/phylis/loginregistration-form-with-python-flask-and-mysql-3hek */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #8895a7;
    margin: 0;
}

/* Darstellung der Box, in der die Elemente angezeigt werden */
.login,
.register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

/* Darstellung der obersten Überschriften */
h1 {
    text-align: center;
    color: #006ab3;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

/* Darstellung der Elemente der Klasse links zwischen den Formularen nebeneinander */
.links {
    display: flex;
    padding: 0 15px;
}

/* Darstellung von Hyper-Links */
.links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

/* Darstellung der Hyper-Links bei Mouse-over */
.links a:hover {
    color: #006ab3;
}

/* Darstellung bereits angeklickter Hyper-Links */
.links a.active {
    border-bottom: 3px solid #006ab3;
    color: #006ab3;
}

/* Darstellung der Formulare */
form {
    /* Elemente nebeneinander */
    display: flex;
    flex-wrap: wrap;
    /* horizontal mittig */
    justify-content: center;
    padding-top: 20px;
}

/* Darstellung der (Fehler-)Meldungen unter dem Formular */
.msg {
    /* zentriert */
    text-align: center;
}

/**** Darstellung der Formularelemente ****/

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #006ab3;
    color: #ffffff;
}

form input[type="password"],
form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #006ab3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

form input[type="submit"]:hover {
    background-color: #006ab3;
    transition: background-color 0.2s;
}