/* Mit Anpassungen übernommen von https://dev.to/phylis/loginregistration-form-with-python-flask-and-mysql-3hek */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #dfdfdf;
    margin: 0;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #006ab3;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.links {
    display: flex;
    padding: 0 15px;
}

.links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.links a:hover {
    color: #006ab3;
}

.links a.active {
    border-bottom: 3px solid #006ab3;
    color: #006ab3;
}


.highlight {
    color: green;
}

.connection {
    padding: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/*
button {
    padding: 12px;
    margin-top: 20px;
    background-color: #006ab3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}*/

/*
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #006ab3;
    color: #ffffff;
}

form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #006ab3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

form input[type="submit"]:hover {
    background-color: #006ab3;
    transition: background-color 0.2s;
}
*/

.msg {
    text-align: center;
}

/*
.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}

body.loggedin {
    background-color: #f3f4f7;
}'/