/* Mit Anpassungen übernommen von https://dev.to/phylis/loginregistration-form-with-python-flask-and-mysql-3hek */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #dfdfdf;
    margin: 15px;
}

.links {
    display: flex;
    padding: 0 15px;
}

.links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.links a:hover {
    color: #006ab3;
}

.links a.active {
    border-bottom: 3px solid #006ab3;
    color: #006ab3;
}

form {
    justify-content: center;
    padding: 0 15px;
    padding-top: 20px;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: #3d84b4;
    color: #ffffff;
    padding: 12px;
}

form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

form input[type="submit"] {
    width: auto;
    float: right;
    padding: 12px;
    height: 50px;
    background-color: #006ab3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

form input[type="submit"]:hover {
    background-color: #006ab3;
    transition: background-color 0.2s;
}

form select {
    width: auto;
    height: 50px;
    padding: 12px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
}

.groups {
    display: inline-flex;
    margin: 0 auto;
    align-items: baseline;
    clear: both;
}

.item {
    display: inline-flex;
    float: left;
    padding: 12px;
}

form table,
form th,
form td {
    border: 1px solid;
}

form table {
    justify-content: center;
    border-collapse: collapse;
}

form tr {
    border-bottom: 1px solid #ddd;
}

.msg {
    text-align: center;
}

.connection {
    clear: both;
    float: right;
    padding: auto;
    align-items: center;
}

.navtop {
    display: flex;
    /*justify-content: space-between;*/
    /* Aligns items in the flex container */
    align-items: center;
    /* Vertically centers the items */
    padding: 10px;
    /* Optional: add padding for better spacing */
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #006ab3;
    font-size: 24px;
    white-space: nowrap;
    padding: 0 20px;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}