/* Mit Anpassungen übernommen von https://dev.to/phylis/loginregistration-form-with-python-flask-and-mysql-3hek */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #dfdfdf;
    margin: 15px;
}

/* Darstellung der Elemente der Klasse links zwischen den Formularen nebeneinander */
.links {
    display: flex;
    padding: 0 15px;
}

/* Darstellung der Hyper-Links */
.links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

/* Darstellung der Hyper-Links bei Mouse-over */
.links a:hover {
    color: #006ab3;
}

/* Darstellung bereits angeklickter Hyper-Links */
.links a.active {
    border-bottom: 3px solid #006ab3;
    color: #006ab3;
}

/* Darstellung der Formulare */
form {
    justify-content: center;
    padding: 0 15px;
    padding-top: 20px;
}

/**** Darstellung der Formularelemente ****/

/* Klasse zur Darstellung der Labels von Input-Elementen in Blau mit weißer Schrift 
nötig, da die Beschriftungen der Checkboxen in der Vorschau Labels sind, die in einfacher schwarzer Schrift dargestellt werden sollen */
.colored {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: auto;
    height: 50px;
    background-color: #3d84b4;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 12px;
}

/* Darstellung der Texteingabefelder im Formular */
form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

/* Darstellung der Absende-Buttons der Formulare in Blau mit weißer Schrift */
form input[type="submit"] {
    width: auto;
    float: right;
    padding: 12px;
    height: 50px;
    background-color: #006ab3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

/* Farbanpassung des Absende-Buttons bei Mouse-over */
form input[type="submit"]:hover {
    background-color: #045c97;
    transition: background-color 0.2s;
}

/* Anpassung der Darstellung von Dropdown-Menüs an jene der Textfelder */
form select {
    width: auto;
    height: 50px;
    padding: 12px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
}

/* Darstellung des Containers, der die Input-Elemente und ihre Label für die Datenbankoperationen enthält */
.groups {
    display: inline-flex;
    margin: 0 auto;
    align-items: baseline;
    clear: both;
}

/* Darstellung der Label-Input-Gruppen innerhalb des group-Containers*/
.item {
    display: inline-flex;
    float: left;
    padding: 12px;
    align-items: baseline;
}

/* Darstellung der einfachen HTML-Tabellen für die Vorschau (Vereinheitlichen, Suchen und Ersetzen */
form table,
form th,
form td {
    border: 1px solid;
}

/* Zusammenführen der Umrandungen der Tabellenzellen, sodass nur jeweils eine Linie sichtbar ist */
form table {
    justify-content: center;
    border-collapse: collapse;
}

/* Darstellung der (Fehler-)Meldungen */
.msg {
    text-align: center;
}

/* Darstellung des Containers mit den Buttons und Labels für die Datenbank- und Toolverbindung */
.connection {
    clear: both;
    float: right;
    padding: auto;
    align-items: center;
}

/* Darstellung der oberen Navigationsleiste */
.navtop {
    display: flex;
    justify-content: space-between;
    /* vertikale Zentrierung der Items */
    align-items: center;
    padding: 10px;
    height: 60px;
    width: 100%;
    border: 0;
}

/* gleichmäßige Verteilung der Navigationsleistenelemente */
.navtop div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

/* Darstellung der Überschrift und der Links in der Navigationsleiste */
.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #006ab3;
    font-size: 24px;
    white-space: nowrap;
    padding: 0 20px;
}

/* weitere Details für die Links */
.navtop div a {
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

/* Darstellung der Links in der Navigationsleiste bei Mouse-over */
.navtop div a:hover {
    color: #eaebed;
}