/* adapted from: https://dev.to/phylis/loginregistration-form-with-python-flask-and-mysql-3hek */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #8895a7;
    margin: 0;
}


/* Info-Icon taken from https://stackoverflow.com/questions/33878539/is-there-an-html-entity-for-an-info-icon */
.tip {
    position: relative;
    display: inline-block;
}

.tip .tiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tip:hover .tiptext {
    visibility: visible;
}


.selecttable {
    border-radius: 5px;
    padding: 20px;
    width: auto;
    max-height: 800px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.selecttable h1 {
    text-align: center;
    color: brown;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.selecttable h3 {
    text-align: center;
}

.selecttable form {
    display: block;
    justify-content: center;
    padding-top: 20px;
}

.selecttable form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: brown;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.msg {
    text-align: center;
}

.selecttable .buttons {
    display: inline-flexbox;
}

/*All modal-related stuff from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
.modal {
    display: none;
    /* Hidden by default */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.modal h2 {
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}