/* adapted from: https://dev.to/phylis/loginregistration-form-with-python-flask-and-mysql-3hek */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #8895a7;
    margin: 0;
}


/* Info-Icon übernommen von https://stackoverflow.com/questions/33878539/is-there-an-html-entity-for-an-info-icon */
.tip {
    position: relative;
    display: inline-block;
}

.tip .tiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Positionierung des Tipps */
    position: absolute;
    z-index: 1;
}

/* Anzeige des Tipptextes bei Mouse-over über dem Icon */
.tip:hover .tiptext {
    visibility: visible;
}

/* Darstellung der Box, in der die Elemente für die Auswahl der Tabellen angezeigt werden */
.selecttable {
    border-radius: 5px;
    padding: 20px;
    width: auto;
    max-height: 800px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Darstellung der Überschrift der ersten Ebene */
.selecttable h1 {
    text-align: center;
    color: #006ab3;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

/* Darstellung der Überschriften der dritten Ebene */
.selecttable h3 {
    text-align: center;
}

/* mittige Darstellung des Formulars */
.selecttable form {
    display: block;
    justify-content: center;
    padding-top: 20px;
}

/* Darstellung des Absende-Buttons wie im Login-Formular */
.selecttable form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #006ab3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

/* Darstellung der (Fehler-)Meldungen */
.msg {
    text-align: center;
}

/* Darstellung der Buttons nebeneinander */
.selecttable .buttons {
    display: inline-flex;
}

/*** Alle modal-bezogenen Elemente übernommen von https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal ***/

.modal {
    /* standardmäßig ausgeblendet */
    display: none;
    /* obenauf platziert */
    z-index: 1;
    padding-top: 100px;
    /* volle Anzeigebreite */
    width: 100%;
    /* volle Anzeigehöhe */
    height: 100%;
    /* Hinzufügen einer Scroll-Leiste, wenn der Inhalt länger ist als der Bildschirm gleichzeitig anzeigen kann */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* leicht transparentes Schwarz als HIntergrundfarbe */
    background-color: rgba(0, 0, 0, 0.4);
    /* Zentrierung */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Darstellung der Überschriften der zweiten Ebene im Modal */
.modal h2 {
    text-align: center;
}

/* Darstellung der Modal-Inhalte (d. h. der Tabellenvorschau) */
.modal-content {
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* Darstellung des Buttons zum Schließen des Modals */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Darstellung des Buttons bei Mouse-over oder anderweitiger Auswahl */
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}