body {
    font-family: Arial;
}

/*.tables {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table1 {
    width: 50%;
    overflow: auto;
    margin: 20px;
    float: left;
}

.table2 {
    width: 50%;
    overflow: auto;
    margin: 20px;
    float: right;
}*/